@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');
html {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

p {
    font-weight: bold;
}

#hello-img {
    width: 50%;
    margin: 40px 0 200px 0;
}

#my-work {
    display: flex;
}

#card-img {
    width: 100%;
    height: 150px;
    filter: grayscale(100%);
}

.card {
    width: 250px;
    border: 0 solid rounded;
}

#my-work {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#card-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-text,
.card-title {
    color: #1c867d;
}

li {
    text-decoration: none;
    float: right;
    text-align: left;
    padding-right: 50px;
}

ul {
    list-style-type: none;
}

footer {
    padding: 5px;
    line-height: 1.2;
    margin-bottom: 0;
}